<crx-page>
    <div class="header">
        <crx-header pageTitle="Profile Details"></crx-header>
    </div>
    <mat-card *ngIf="profile$ | async as profile" class="card">
        <mat-card-title-group>
            <mat-card-title>User Profile</mat-card-title>
            <mat-card-subtitle>{{ profile.name.first }} {{ profile.name.last }}</mat-card-subtitle>
            <img [src]="profile.picture.medium" class="circle" mat-card-md-image />
        </mat-card-title-group>
        <mat-card-content>
            <mat-list>
                <mat-list-item>
                    <span>Phone: </span><span>{{ profile.phone }}</span>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <span>Cell: </span><span>{{ profile.cell }}</span>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <span>City: </span><span>{{ profile.location.city }}, {{ profile.location.state }}</span>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <span>Email: </span><span>{{ profile.email }}</span>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <span>Date of Birth: </span><span>{{ profile.dob.date | date: 'mediumDate' }}</span>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
</crx-page>
