<crx-page>
    <article class="full-screen-page-with-header">
        <section class="container-fluid page-content">
            <div class="col-sm-7 col-sm-offset-2 col-lg-6 col-lg-offset-3">
                <div class="text-section">
                    <h1>{{pageTitle}}</h1>
                    <h2>{{pageContent}}</h2>
                </div>
                <div class="link-section">
                    <p><a class="blue-link" routerLink="/">Home</a></p>
                    <p><a class="blue-link" href="https://learn.crexi.com/">Help and Support</a></p>
                </div>
            </div>
        </section>
    </article>
</crx-page>
