.back-link {
    text-decoration: none;
    font-size: 25px;
    color: gray;
    font-weight: 600;

    &:hover {
        color: black;
    }
}

.open-filter {
    cursor: pointer;
    width: 1000px;
    margin-bottom: 20px;
    background-color: cadetblue;
}
