<a routerLink="/" class="back-link">Back To Home</a>
<h1>List of all users:</h1>
<button class="open-filter" (click)="openFilter()">Open Filter</button>
<crx-filter-bar *ngIf="filterIsOpen" (apply)="applyFilters($event)"></crx-filter-bar>
<table style="width: 1000px; border: 1px solid black">
    <tr>
        <th>NAME</th>
    </tr>
    <tbody *ngIf="users$ | async as users">
        <tr *ngFor="let user of users">
            <th>
                <a [routerLink]="['/profile/' + user.firstName]">{{ user.firstName }}</a>
            </th>
        </tr>
    </tbody>
</table>
