.back-link {
    text-decoration: none;
    font-size: 25px;
    color: gray;
    font-weight: 600;

    &:hover {
        color: black;
    }
}

.user-table {
    width: 1000px;
    border: 1px solid black;
}
